VERSION=v4.0-2.9.1

# ==============================================================================
# DANH SÁCH NETBOX PLUGINS (Khai báo giá trị thực tế trong file .env bí mật)
# ==============================================================================
PLUGIN_1=
PLUGIN_2=
PLUGIN_3=
PLUGIN_4=
PLUGIN_5=
PLUGIN_6=
PLUGIN_7=

# ==============================================================================
# CẤU HÌNH GHI LOG (LOGGING)
# ==============================================================================
# Mức log: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO
DJANGO_LOG_LEVEL=INFO
PLUGINS_LOG_LEVEL=INFO

# ==============================================================================
# CẤU HÌNH KEYCLOAK SSO (Single Sign-On)
# ==============================================================================
# KEYCLOAK_URL=http://localhost:8085
# KEYCLOAK_BACKEND_URL=http://keycloak:8080
# KEYCLOAK_REALM=master
# KEYCLOAK_CLIENT_ID=netbox
# KEYCLOAK_CLIENT_SECRET=
